header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 6rem;
  background-color: white;
}
.header-div {
  background-color: aqua;
}

h1 {
  font-size: 3rem;
  color: red;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.fiche {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  width: 30rem;
  height: 30rem;
}
.picturecharacter {
  display: flex;

  align-items: center;
  width: 15rem;
  height: 15rem;
}
.charactername {
  font-size: 22px;
  font-weight: bold;
}
.characterdescription:hover {
  text-decoration: underline;
}
